{% load socialaccount %}

{% providers_media_js %}

<h1>홈페이지</h1>

<navbar>
    {% if user.is_authenticated %}
        <p> 안녕하세요, {{user.username}}님 </p>
        <a href ="{% url 'account_logout' %}">로그아웃</a>
    {% else %}
        <p> 로그아웃된 상태입니다.</p>
        <a href="{% url 'account_login' %}">로그인</a>
        <a href="{% url 'account_signup' %}">회원가입</a><br>
        <a href="{% provider_login_url 'kakao' %}">카카오 로그인</a>
        <a href="{% provider_login_url 'google'%}">구글 로그인</a>
        <a href="{% provider_login_url 'naver'%}">네이버 로그인</a>

    {% endif %}

</navbar>

