{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'movie/styles/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'movie/styles/theme.css' %}">


    <title>{% block title %}Movie {% endblock title %}</title>

  </head>
  <body>


    {% block header %}
    {% endblock header %}

  <div>
        {% for c in categories %}
            <a href={{ c.get_absolute_url }}>{{ c.name }} ({{ c.review_set.count }}) </a>
        {% endfor %}
            <a href="category/no-category">미분류({{ no_category_count }})</a>
    </div>

    <div>
{#         <script>#}
{#            function searchPost(){#}
{#                let searchValue=.getElementById('search-input').value.trim();#}
{#                if(searchValue.length>1){#}
{#                    location.href="/search/"+searchValue+"/";#}
{#                }#}
{#                else{#}
{#                    alert('검색어('+searchValue+')가 너무 짧습니다.');#}
{#                }#}
{#            };#}
{#            document.getElementById('search-input').addEventListener('keyup',function(event)#}
{#            {#}
{#                if(event.key === "Enter"){#}
{#                    searchPost();#}
{#                }#}
{#            });#}
{#        </script>#}
    </div>

    {% block content %}

    {% endblock content %}



    {% block footer %}
    {% endblock footer %}
  </body>
</html>
